.App {
  height: 100vh;
  padding-top: 25px;
}

.App__coverImg {
  width: 200px;
  border-radius: 50%;
  display: block;
  margin: 0 auto;
}

.App__title {
  text-align: center;
}

.App__body {
  display: flex;
  flex-direction: row;
}

.App__sideBar {
  width: 300px;
}

.App__informationsArea {
  flex-grow: 6;
}